<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>Logist</servlet-name>
        <servlet-class>servlets.LogistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logist</servlet-name>
        <url-pattern>/logist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/me</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SingleOrderServlet</servlet-name>
        <servlet-class>servlets.SingleOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleOrderServlet</servlet-name>
        <url-pattern>/single_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern></url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>servlets.UserOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
        <!--<url-pattern></url-pattern>-->
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDrivers</servlet-name>
        <servlet-class>servlets.CreateDriversServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDrivers</servlet-name>
        <url-pattern>/addDrivers</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SaveTC</servlet-name>
        <servlet-class>servlets.SaveTCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveTC</servlet-name>
        <url-pattern>/saveTC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>servlets.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/saveOrder</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>
            filters.SetCharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>